body {
  background-image: linear-gradient(
    150deg,
    var(--primary-clr) 40%,
    var(--primary-clr-variant)
  );
  display: grid;
  grid: '.' 1fr
        'main' 3fr
        'footer' .2fr;
}

main {
  grid-area: main;
  height: auto;
}

.container {
  max-width: 900px;
  margin: auto;
}

.search-container {
  display: flex;
  flex-direction: column;
margin-bottom: 2rem;
  gap: 1rem;
}

.book-search {
  color: var(--neutral-light);
  text-align: center;
  padding-inline: 1rem;
}

.book-search h1 {
  line-height: .9;
  margin-bottom: 1rem;
}

.book-search p {
  margin-bottom: 2rem;

}

.book-search input {
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
}

.book {
  background-color: var(--neutral-light);
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  transform: translateY(50%);
  opacity: 0;
  transition: transform 3s ease-out, opacity 5s ease-out;
}

.book.appear {
  transform: translateY(0);
  opacity: 1;
}

.book-details {
  display: flex;
  flex-direction: column;
  place-items: center;
  padding: 3rem;
  gap: 2rem;
}

.book-details p {
  color: rgba(0, 0, 0, 0.704);
  margin-top: 1rem;
}

.book-details .btn {
  margin-top: 1rem;
}

footer {
  background-color: var(--neutral-light);
  text-align: center;
  padding: 2rem 0 0.5rem 0;
  font-size: 13px;
  z-index: 1;
  grid-area: footer;
}

footer a {
  color: var(--primary-clr);
}

.hidden {
  display: none;
}

.not-found {
  text-align: center;
}

@media (min-width: 600px){
  .search-container {
    flex-direction: row;
    place-content: center;
    align-items: center;
  }

  .book-details {
  flex-direction: row;

  }
} 