@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Poltawski+Nowy:wght@400;700&display=swap");

h1 {
  font-family: var(--font-header);
  font-size: 4rem;
}

p,
h2,
h3,
label,
input,
button,
a {
  font-family: var(--font-body);
}

h2, h3 {
  font-size: 1rem;
}

h3 {
  font-weight: 400;
}
